<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Meme Poster</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 sticky-top">
        <div>
            <a href="" class="navbar-brand">Meme Poster</a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form action="/home">
                    <button class="btn btn-primary" type="submit">Home</button>
                </form>
            </li>
            <li class="nav-item">
                s
            </li>
            <li class="nav-item">
                <form action="/postameme">
                <button class="btn btn-primary">Post a Meme</button>
                </form>
            </li>
        </ul>
    </nav>
