<%- include ('./partials/header.ejs') %>
<div class="container-fluid container-spacing_1">
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col justify-content-md-center"><h1>Meme Stream</h1></div>
        <div class="col"></div>
    </div>
</div>
<div class="container">
    <div class="row">
            <div class="col"></div>
            <div class="col">
                    <form action="/home" method="post">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label for="Name">Meme Owner</label>
                                <input type="text" class="form-control input-lg" id="Name" name="name" placeholder="Enter your full name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Caption">Caption</label>
                            <input type="text" class="form-control input-lg" id="Caption" name="caption" placeholder="Be creative with the caption">
                        </div>
                        <div class="form-group">
                        <label for="url">Meme URL</label>
                        <input type="url" class="form-control input-lg" id="url" name="url" placeholder="Enter URL of your meme here">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
            <div class="col"></div>
    </div>
</div>
</div>
<%- include ('./partials/footer.ejs') %>